body {
    color: white;
    background-color: #333;
}

.insights-container {
    display: flex;
    justify-content: center; /* Center the main content */
    align-items: flex-start;
    height: 80vh;
    width: 100vw;
    /* height: 60vh;
    padding: 20px;
    width: 90vw; */
}

.box {
    background-color: black;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* .upload-box {
    margin-right: 10px;
    width: 30%;
} */

.main-content {
    flex: 1;
    padding: 20px;
    transition: margin-left 0.3s;
    max-width: 1000px; /* Maximum width for the main content */
    height: 50vh;
}

.main-content.expanded {
    margin-left: 250px;
}
/* .right-side {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
} */

.options-box {
    height: 10%;
}

.output-box {
    height: 100%; 
    display: flex;
    overflow: hidden; 
}














