body {
    color: white;
    background-color: black;
}

.insights-container {
    display: flex;
    justify-content: center; /* Center the main content */
    align-items: flex-start;
    min-height: 85vh;
    height: auto;
    width: 100%;
    /* height: 60vh;
    padding: 20px;
    width: 90vw; */
}

.box {
    background-color: black;
    /* border: 1px solid white; */
    border-radius: 10px;
}

/* .upload-box {
    margin-right: 10px;
    width: 30%;
} */

.main-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    width: 83vh; /* Maximum width for the main content */
    min-height: 83vh;
    align-items: center; /* Center child elements horizontally */
    justify-content: flex-start; /* Align child elements to the top */
}

/* .main-content.expanded {
    margin-left: 250px;
} */
/* .right-side {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
} */

.options-box {
    height: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.output-box {
    height: 100%;
    display: flex;
    overflow: hidden; 
}

.sidebar {
    position: fixed;
    top: auto; /* Adjust based on your header height */
    left: 0;
    width: 50px; /* default width for collapsed state */
    padding: 30px 20px;
    transition: width 0.5s;
    z-index: 1000;
    background-color: #0f172a;
    height: 85vh;
    color: white;
    margin-top: 10px;
    overflow-y: auto; /* Allow vertical scrolling */
    font-size: small;
}

.sidebar.expanded {
    width: 400px; /* expanded width */
}

.sidebar.collapsed {
    width: 50px;
}

.toggle-btn {
    position: absolute;
    top: 20px; /* Adjust based on your design */
    right: -50px; /* Position the button outside the sidebar */
    background: white;
    color: black;
    border: none;
    cursor: pointer;
    padding: 5px 20px;
    transition: right 0.5s;
    z-index: 1100; /* Ensure it's above the sidebar content */
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;
}

.toggle-btn:hover{
    background-color: rgb(51 65 85);
    color: white;
}

.sidebar.expanded .toggle-btn {
    right: 0px; /* Adjust position to align with expanded sidebar */
}

.sidebar.collapsed .toggle-btn {
    right: 10px; /* Move the button outside the collapsed sidebar */
}

.sidebar.expanded h1{
    font-size: small;
}

.sidebar.expanded h3{
    font-size: small;
}
.sidebar-menu-buttons{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.menu-button{
    border-radius: 5px;
    padding: 5px 0px;
    font-size: small;
    margin: 5px 2px;
    border: none;
}

.menu-button:hover{
    background-color: rgb(51 65 85);
    color: white;
}

/* .sidebar-menu-buttons button{
    background-color: #0f172a;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
} */














