body, html {
  background-color: black;
}

.home-content {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;     
    text-align: center;
    color: white;
  }
  
  .homelogo {
    margin-top: 5%;
    margin-bottom: 20px; 
  }