.home-content {
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    justify-content: center; /* Center content vertically */
    align-items: center;     /* Center content horizontally */
    text-align: center;
  }
  
  .homelogo {
    margin-top: 5%;
    margin-bottom: 20px; /* Space between image and title */
  }