.footer-container {
    position: fixed;
    bottom: 0;
    right: 0; /* Adjusted to position at the bottom right corner */
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: black;
    margin-top: 0;
    padding: 0 20px;
}



.IQSpatialogo {

        max-height: 100%;
        width: auto;
        margin-bottom: 10px; /* Ensure it aligns well with the footer's bottom */
}