.header-container {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white; 
    margin-top: 0;
}

.brand-container {
    background-color: orange; 
    padding: 1rem;
}

.button-container{
    background-color: orangered;
    padding: 1rem;
}
  