.nlpButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.nlpButton {
    padding: 10px 20px;
    width: auto;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}

.nlpButton:hover {
    background-color: rgb(51 65 85);
    color: white;
    outline: none;
} 

.nlpButton.active {
    background-color: rgb(51 65 85);
    color: white;
    outline: none;
}