.sidebar {
    position: absolute;
    top: auto; /* Adjust based on your header height */
    left: 0;
    width: 50px; /* default width for collapsed state */
    padding: 30px 20px;
    transition: width 0.5s;
    z-index: 1000;
    background-color: #0f172a;
    height: 87.7vh;
    color: white;
}

.sidebar.expanded {
    width: auto;
    max-width: 400px; /* expanded width */
}

.sidebar.collapsed {
    width: 50px;
}

.toggle-btn {
    position: absolute;
    top: 20px; /* Adjust based on your design */
    right: -50px; /* Position the button outside the sidebar */
    background: white;
    color: black;
    border: none;
    cursor: pointer;
    padding: 5px 20px;
    transition: right 0.5s;
    z-index: 1100; /* Ensure it's above the sidebar content */
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;
}

.toggle-btn:hover{
    background-color: rgb(51 65 85);
    color: white;
}

.sidebar.expanded .toggle-btn {
    right: 0px; /* Adjust position to align with expanded sidebar */
}

.sidebar.collapsed .toggle-btn {
    right: 10px; /* Move the button outside the collapsed sidebar */
}
