input[type="file"] {
    display: none; 
}

label.file-input-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 20px;
    left: 50%;
    margin-top: 15px;
    position: relative;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    /* top: 120px; */
}

label.file-input-label:hover {
    background-color: rgb(51 65 85);
    color: white;
}

/* button.submit-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button.submit-button:disabled {
    background-color: #6c7d70;
}

button.submit-button:hover {
    background-color: #218838;
} */

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

li input[type="checkbox"] {
    display: none; 
}

li label {
    position: relative;
    cursor: pointer;
    font-size: 16px;
}

li label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #007bff;
    border-radius: 5px;
    margin-right: 10px;
    vertical-align: middle;
    transition: background-color 0.3s, border-color 0.3s;
}

li input[type="checkbox"]:checked + label::before {
    background-color: #007bff;
    border-color: #007bff;
}

li input[type="checkbox"]:checked + label::after {
    content: '✔';
    position: absolute;
    left: 4px;
    top: 0;
    font-size: 18px;
    color: white;
}

#title {
    font-size: 1.5vw; 
    text-align: left;
    margin-bottom: 20px;
    white-space: nowrap; 
}

.remove-button {
    margin-left: 10px;
    display: none;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: darkred;
}

.pdf-item:hover .remove-button {
    display: inline-block;
}

.pdf-list {
    background-color: rgb(51 65 85);
    color: white;
    padding: 10px;
    max-height: 20vh; /* Set the maximum height for the div */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Hide horizontal scrolling if not needed */
}

.uploaded-files {
    top: 60vh;
    margin-top: 30px;
    padding: 0px 10px;
}

.file-drop-area {
    border: 2px dashed #ccc;
    padding: 10px;
    margin: 5px;
    height: 140px;
    font-size: small;
    
}

.file-drop-area.dragging {
    background-color: #8e959bde;
}

.upload-pdfs p {
    font-size: 15px;
    text-align: center;
}

.upload-progress {
    margin-top: 20px;
}

.upload-progress-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.loading-animation {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.check-mark {
    font-size: 20px;
    color: green;
}

.uploaded-pdf-text{
    margin-top: -10px;
}
